data/
.venv/
venv/
env/


build/
Build/
BUILD/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

*.exe
*.out
*.app
shape_app
practica4_1C

*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll


__pycache__/
*.py[cod]
*$py.class
*.pyc
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
*.egg-info/
dist/
*.whl


.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.code-workspace

# Jupyter Notebook

.ipynb_checkpoints
*.ipynb_checkpoints

# Temporales y logs

*.log
*.tmp
*.temp
*.bak
*.swp


# android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.gradle
*/build/
*/.cxx/


OpenCV-android-sdk/
parte2/android/opencv/
parte2/android/opencv2/